.pageHeader {
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
}

.shop {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 25%;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


