.shop {
    border: 1px solid black;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
}

.section {
    display: flex;
    height: 100px;
    flex-grow: 10;
}
